*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
    margin-bottom: 35px;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}

p{
    color: #fff;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-1{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
    text-align: center;
}

.col-2 img{
    max-width: 100%;
    height: 500px;
    padding: 50px 0;
}

.col-1 h1{
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #3CB371;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

header{
   background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(110,115,116,1) 0%,
   rgba(89,94,96,1) 19%, rgba(65,69,71,1) 40%, rgba(15,15,18,1) 85%);
   height: 801px;
}

.navbar img{
    margin-bottom: 50px;
}

.btn:hover{
    background: #20B2AA;
}

.categories{
    margin: 70px 0;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4{
    flex-basis: 20%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.price{
    color: #555;
}

.col-4 img {
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #3CB371;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}